@import "tailwindcss";

@theme {
  --font-heading: var(--font-playfair);
  --font-body: var(--font-inter);

  --color-primary: #0A2647;
  --color-primary-foreground: #ffffff;

  --color-secondary: #D4AF37;
  --color-secondary-foreground: #0A2647;

  --color-background: #ffffff;
  --color-foreground: #0f172a;
  /* slate-900 */
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold text-primary;
  }
}